<div class="container-fluid">
    <div class="row">
        <!-- Columna del componente RegistrarMedicamento -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Registrar Medicamento</h5>
                </div>
                <div class="card-body">
                    <app-registro-medicamento></app-registro-medicamento>
                </div>
            </div>
        </div>

        <!-- Columna del componente ListaMedicamentos -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Lista de Medicamentos</h5>
                </div>
                <div class="card-body" style="height: calc(100vh - 200px); overflow-y: auto;">
                    <app-medicamentos-lista></app-medicamentos-lista>
                </div>
            </div>
        </div>



   
    </div>
</div>

<app-servicios-veterinarios></app-servicios-veterinarios>
<app-empleados></app-empleados>