<!-- Tu formulario aquí -->
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title"><i class="fas fa-user-plus"></i> Alta de Cliente</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="clienteForm" (ngSubmit)="guardarCliente()">
                <div class="mb-3">
                    <label for="codigo" class="form-label"><i class="fas fa-id-card"></i> ID de Cliente:</label>
                    <input type="text" class="form-control" id="codigo" formControlName="codigo"
                        placeholder="Ingrese el ID del cliente">
                </div>
                <!-- Sección de nombres -->
                <div class="mb-3">
                    <label for="nombres" class="form-label"><i class="fas fa-user"></i> Nombres de Propietario:</label>
                    <div *ngFor="let nombre of getControl('nombres').controls; let i=index" class="input-group mb-2">
                        <input type="text" class="form-control" [formControl]="$any(nombre)"
                            (input)="nombre.setValue(nombre.value.toUpperCase())"
                            placeholder="Ingrese el nombre del cliente">
                        <button class="btn btn-outline-secondary" type="button" (click)="eliminarElemento('nombres', i)"
                            [disabled]="clienteRegistrado">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="agregarElemento('nombres')"
                        [disabled]="clienteRegistrado">
                        <i class="fas fa-user-plus"></i>
                    </button>
                </div>
                <hr>
                <!-- Sección de direcciones -->
                <div class="mb-3">
                    <label for="direcciones" class="form-label"><i class="fas fa-map-marker-alt"></i>
                        Direcciones:</label>
                    <div *ngFor="let direccion of getControl('direcciones').controls; let i=index"
                        class="input-group mb-2">
                        <input type="text" id="direcciones" class="form-control" [formControl]="$any(direccion)"
                            (input)="direccion.setValue(direccion.value.toUpperCase())"
                            placeholder="Ingrese la dirección del cliente">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="eliminarElemento('direcciones', i)" [disabled]="clienteRegistrado">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="agregarElemento('direcciones')"
                        [disabled]="clienteRegistrado">
                        <i class="fas fa-map-marker-alt"></i>
                    </button>
                </div>
                <hr>
                <!-- Sección de teléfonos -->
                <div class="mb-3">
                    <label for="telefonos" class="form-label"><i class="fas fa-phone"></i> Teléfonos:</label>
                    <div *ngFor="let telefono of getControl('telefonos').controls; let i=index"
                        class="input-group mb-2">
                        <input type="text" id="telefono" class="form-control" [formControl]="$any(telefono)"
                            (input)="formatoTelefono(telefono)" placeholder="Ingrese el teléfono del cliente">
                        <button class="btn btn-outline-secondary" type="button"
                            (click)="eliminarElemento('telefonos', i)" [disabled]="clienteRegistrado">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="agregarElemento('telefonos')"
                        [disabled]="clienteRegistrado">
                        <i class="fas fa-phone"></i>
                    </button>
                </div>
                <hr>
                <!-- Sección de bonos -->
                <div class="row mb-3">
                    <div class="col-6">
                        <label for="bonos" class="form-label"><i class="fas fa-star"></i> Bonos:</label>
                        <div *ngFor="let bono of getControl('bonos').controls; let i=index" class="input-group mb-2">
                            <input type="text" id="bono" class="form-control" [formControl]="$any(bono)"
                                (input)="bono.setValue(bono.value.toUpperCase())"
                                placeholder="Ingrese el bono del cliente">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="eliminarElemento('bonos', i)" [disabled]="clienteRegistrado">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-info" (click)="agregarElemento('bonos')"
                            [disabled]="clienteRegistrado">
                            <i class="fas fa-star"></i>
                        </button>
                    </div>
                    <!-- Sección de advertencias -->
                    <div class="col-6">
                        <label for="advertencias" class="form-label"><i class="fas fa-exclamation-triangle"></i>
                            Advertencias:</label>
                        <div *ngFor="let advertencia of getControl('advertencias').controls; let i=index"
                            class="input-group mb-2">
                            <input type="text" id="advertencia" class="form-control" [formControl]="$any(advertencia)"
                                (input)="advertencia.setValue(advertencia.value.toUpperCase())"
                                placeholder="Ingrese la advertencia del cliente">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="eliminarElemento('advertencias', i)" [disabled]="clienteRegistrado">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-warning" (click)="agregarElemento('advertencias')"
                            [disabled]="clienteRegistrado">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
                <!-- Agrega este botón después del botón de guardar en tu formulario de alta de cliente -->
<button type="button" class="btn btn-secondary me-2" (click)="cancelarEdicionCliente()">
    Cancelar
  </button>
  
                <!-- Botón Guardar -->
                <button id="botonGuardar" type="submit" class="btn btn-success float-end">
                    <i class="fas fa-save"></i> {{ editarModo ? 'Actualizar Cliente' : 'Guardar Cliente' }}
                </button>
            </form>
        </div>
    </div>
</div>