<!-- Formulario de Alta/Edición de Cliente -->
<div class="container">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="card-title"><i class="fas fa-user-plus"></i> {{ editarModo ? 'Editar Cliente' : 'Alta de Cliente' }}</h2>
            <button type="button" class="btn btn-secondary btn-sm" (click)="cancelarEdicionCliente()">
                <i class="fas fa-times"></i> Cancelar
            </button>
        </div>
        <div class="card-body">
            <form [formGroup]="clienteForm" (ngSubmit)="guardarCliente()">
                <!-- Sección de ID de Cliente -->
                <div class="mb-3">
                    <label for="codigo" class="form-label"><i class="fas fa-id-card"></i> ID de Cliente:</label>
                    <input type="text" class="form-control" id="codigo" formControlName="codigo" placeholder="Ingrese el ID del cliente">
                </div>
                <!-- Sección de Nombres -->
                <div class="mb-3">
                    <label class="form-label"><i class="fas fa-user"></i> Nombres del Propietario:</label>
                    <div *ngFor="let nombre of getControl('nombres').controls; let i=index" class="input-group mb-2">
                        <input type="text" class="form-control" [formControl]="$any(nombre)" (input)="nombre.setValue(nombre.value.toUpperCase())" placeholder="Ingrese el nombre del cliente">
                        <button class="btn btn-outline-secondary" type="button" (click)="eliminarElemento('nombres', i)" [disabled]="clienteRegistrado">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="agregarElemento('nombres')" [disabled]="clienteRegistrado">
                        <i class="fas fa-user-plus"></i> Agregar Nombre
                    </button>
                </div>
                <!-- Sección de Direcciones -->
                <div class="mb-3">
                    <label class="form-label"><i class="fas fa-map-marker-alt"></i> Direcciones:</label>
                    <div *ngFor="let direccion of getControl('direcciones').controls; let i=index" class="input-group mb-2">
                        <input type="text" class="form-control" [formControl]="$any(direccion)" (input)="direccion.setValue(direccion.value.toUpperCase())" placeholder="Ingrese la dirección del cliente">
                        <button class="btn btn-outline-secondary" type="button" (click)="eliminarElemento('direcciones', i)" [disabled]="clienteRegistrado">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="agregarElemento('direcciones')" [disabled]="clienteRegistrado">
                        <i class="fas fa-map-marker-alt"></i> Agregar Dirección
                    </button>
                </div>
                <!-- Sección de Teléfonos -->
                <div class="mb-3">
                    <label class="form-label"><i class="fas fa-phone"></i> Teléfonos:</label>
                    <div *ngFor="let telefono of getControl('telefonos').controls; let i=index" class="input-group mb-2">
                        <input type="text" class="form-control" [formControl]="$any(telefono)" (input)="formatoTelefono(telefono)" placeholder="Ingrese el teléfono del cliente">
                        <button class="btn btn-outline-secondary" type="button" (click)="eliminarElemento('telefonos', i)" [disabled]="clienteRegistrado">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="agregarElemento('telefonos')" [disabled]="clienteRegistrado">
                        <i class="fas fa-phone"></i> Agregar Teléfono
                    </button>
                </div>
                <!-- Sección de Bonos y Advertencias -->
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label"><i class="fas fa-star"></i> Bonos:</label>
                        <div *ngFor="let bono of getControl('bonos').controls; let i=index" class="input-group mb-2">
                            <input type="text" class="form-control" [formControl]="$any(bono)" (input)="bono.setValue(bono.value.toUpperCase())" placeholder="Ingrese el bono del cliente">
                            <button class="btn btn-outline-secondary" type="button" (click)="eliminarElemento('bonos', i)" [disabled]="clienteRegistrado">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-info btn-sm" (click)="agregarElemento('bonos')" [disabled]="clienteRegistrado">
                            <i class="fas fa-star"></i> Agregar Bono
                        </button>
                    </div>
                    <div class="col">
                        <label class="form-label"><i class="fas fa-exclamation-triangle"></i> Advertencias:</label>
                        <div *ngFor="let advertencia of getControl('advertencias').controls; let i=index" class="input-group mb-2">
                            <input type="text" class="form-control" [formControl]="$any(advertencia)" (input)="advertencia.setValue(advertencia.value.toUpperCase())" placeholder="Ingrese la advertencia del cliente">
                            <button class="btn btn-outline-secondary" type="button" (click)="eliminarElemento('advertencias', i)" [disabled]="clienteRegistrado">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        <button type="button" class="btn btn-warning btn-sm" (click)="agregarElemento('advertencias')" [disabled]="clienteRegistrado">
                            <i class="fas fa-exclamation-circle"></i> Agregar Advertencia
                        </button>
                    </div>
                </div>
                <!-- Botón Guardar -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> {{ editarModo ? 'Actualizar Cliente' : 'Guardar Cliente' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
