<div class="card mb-3" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
  <div class="card-body d-flex flex-wrap justify-content-between align-items-center gap-3">
    <!-- Filtros de búsqueda -->
    <div class="d-flex flex-wrap gap-2">
      <input type="text" id="codigo" class="form-control input-android" [(ngModel)]="filtros.codigo" (input)="aplicarFiltro()" placeholder="Buscar por ID" style="width: 180px;">
      <input type="text" id="nombre" class="form-control input-android" [(ngModel)]="filtros.nombre" (input)="aplicarFiltro()" placeholder="Buscar por Propietario" style="width: 180px;">
      <input type="text" id="direccion" class="form-control input-android" [(ngModel)]="filtros.direccion" (input)="aplicarFiltro()" placeholder="Buscar por Dirección" style="width: 180px;">
      <input type="text" id="telefono" class="form-control input-android" [(ngModel)]="filtros.telefono" (input)="aplicarFiltro()" placeholder="Buscar por Teléfono" style="width: 180px;">
      <button type="button" class="btn btn-secondary" (click)="resetFiltros()">Limpiar</button>
    </div>

    <!-- Botón Nuevo Cliente -->
    <button type="button" class="btn btn-primary btn-sm btn-new-client" (click)="nuevoCliente()">
      <i class="fas fa-user-plus"></i> Nuevo Cliente
    </button>
  </div>
</div>

<div class="card" style="box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
  <div class="card-body">
    <!-- Tabla de clientes -->
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead>
            <tr>
              <th>ID</th>
              <th>Propietario</th>
              <th>Dirección</th>
              <th>Teléfonos</th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let cliente of clientesFiltrados">
              <tr (click)="seleccionarCliente(cliente, $event)" (dblclick)="editarCliente(cliente)" [class.selected]="clienteSelecionado === cliente"  (mouseover)="cliente.hover = true" (mouseout)="cliente.hover = false">
                <td>{{ cliente.codigo }}</td>
                <td>
                  {{ cliente.nombres[0] }}
                  <!-- Lista de nombres adicionales -->
                  <ul>
                    <ng-container *ngIf="filtroActivo">
                        <ng-container *ngFor="let nombre of cliente.nombres.slice(1)">
                            <li
                                *ngIf="nombre.toLowerCase().includes(filtros.nombre?.toLowerCase())">
                                <span
                                    *ngIf="!cliente.nombres.includes(filtros.nombre) && nombre.toLowerCase().includes(filtros.nombre?.toLowerCase())"
                                    class="badge bg-secondary">{{ filtros.nombre }}</span>
                            </li>
                        </ng-container>
                    </ng-container>
                  </ul>
                </td>
                <td>
                  {{ cliente.direcciones[0] }}
                  <!-- Lista de direcciones adicionales -->
                  <ul>
                    <li *ngFor="let direccion of cliente.direcciones.slice(1)" [class.hidden]="!filtroActivo && !direccion.toLowerCase().includes(filtros.direccion?.toLowerCase())">
                      <span class="badge bg-secondary">{{ direccion }}</span>
                    </li>
                  </ul>
                </td>
                <td>
                  {{ cliente.telefonos[0] }}
                  <!-- Lista de teléfonos adicionales -->
                  <ul>
                    <li *ngFor="let telefono of cliente.telefonos.slice(1)" [class.hidden]="!filtroActivo && !telefono.toLowerCase().includes(filtros.telefono?.toLowerCase())">
                      <span class="badge bg-secondary">{{ telefono }}</span>
                    </li>
                  </ul>
                </td>
                <td >
                  <!-- Iconos para bonos y advertencias -->
                  <td>
                    <!-- Icono de bonos -->
<!-- Icono de bonos con tooltip mejorado -->
<ng-container *ngIf="cliente.bonos && cliente.bonos.length > 0">
  <button
    type="button"
    class="btn btn-icon btn-bono"
    [ngbTooltip]="getBonosTooltip(cliente.bonos)"
    container="body"
    triggers="mouseenter:mouseleave click:blur"
    tooltipClass="custom-tooltip">
    <i class="fas fa-star text-warning"></i>
  </button>
</ng-container>






                  
                    <!-- Icono de advertencias -->
                    <ng-container *ngIf="cliente.advertencias && cliente.advertencias.length > 0">
                      <button
                        type="button"
                        class="btn btn-icon btn-advertencia"
                        [ngbTooltip]="cliente.advertencias[0]"
                        container="body"
                        triggers="mouseenter:mouseleave click:blur"
                      >
                        <i class="fas fa-exclamation-circle text-danger"></i>
                      </button>
                    </ng-container>
                  </td>
                
                <td class="action-buttons" *ngIf="showButtons">
                  <button type="button" class="btn btn-icon btn-edit" (click)="editarCliente(cliente)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn-delete" (click)="eliminarCliente(cliente.id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
