/* Estilos para el contenedor del ng-select */
::ng-deep .ng-select {
  display: inline-block;
  width: 100%;
}


/* Estilos para las opciones desplegadas */
::ng-deep .ng-dropdown-panel {
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: none;
  background-color: white;
}

/* Estilos para las opciones individuales */
::ng-deep .ng-option {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Estilos para las opciones cuando están resaltadas */
::ng-deep .ng-option.ng-option-marked {
  background-color: #f8f9fa;
}

h3.total-label {
  margin-right: 20px;
}

.input-group.total-input {
  font-size: 1.75rem;
  font-weight: bold;
  
}

.card {
  border-radius: 10px;
}

.card-header {
  font-weight: bold;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.badge {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.row.g-4 > * {
  margin-bottom: 20px;
}