<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <!-- Logo o nombre de la empresa -->
  
    <img src="assets/image.png" alt="Logo" class="logo" style="width: 100px; height: auto;">
  </div>
  <div *ngIf="currentRoute.includes('/clientes')">
    <!-- Botones para la ruta de clientes -->
    <button class="btn btn-primary" (click)="crearNuevoCliente()"><i class="fas fa-user-plus"></i> Crear nuevo cliente</button>
    <button class="btn btn-secondary" *ngIf="clienteSeleccionado" (click)="editarCliente()"><i class="fas fa-user-edit"></i> Editar cliente</button>
  </div>
  <div *ngIf="currentRoute.includes('/recepcion')">
    <!-- Botones para la ruta de recepción -->
    <button class="btn btn-primary" ><i class="fas fa-action-icon"></i> Acción 1</button>
    <button class="btn btn-secondary" ><i class="fas fa-action-icon"></i> Acción 2</button>
  </div>
  <div *ngIf="currentRoute.includes('/mascotas')">
    <!-- Botones para la ruta de mascotas -->
    <button class="btn btn-primary" ><i class="fas fa-action-icon"></i> Acción 1</button>
    <button class="btn btn-secondary" ><i class="fas fa-action-icon"></i> Acción 2</button>
  </div>
  <button class="toggle-button" (click)="onToggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>
</nav>
