/* Navbar estilos */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d40;
  padding: 10px 20px;
  color: white;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Ajuste del logo */
.navbar-brand img {
  width: 80px;
  height: auto;
}

/* Botón de menú */
.toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
