<div class="modal-header">
    <h4 class="modal-title">Registro de Cliente y Mascotas</h4>
    <button type="button" class="btn-close" aria-label="Cerrar" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <!-- Contenido del modal -->
    <div class="container">
      <div class="row">
<app-registro-cliente-mascota-component></app-registro-cliente-mascota-component>
  </div>
  <div class="modal-footer">
    <!-- Botón de cierre del modal -->
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
  </div>
  