.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .cliente-info {
    flex: 2;
    margin-right: 20px;
  }
  
  .mascota-form, .mascota-lista {
    flex: 2;
  }
  
