<div class="container-fluid">
    <div class="row">
        <!-- Área de clientes -->
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Clientes</h5>
                </div>
                <div class="card-body">
                    <app-clientes-lista></app-clientes-lista>
                </div>
            </div>
        </div>
        <!-- Área de mascotas -->
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Mascotas</h5>
                </div>
                <div class="card-body">
                    <app-mascota-detalle></app-mascota-detalle>
                    <app-mascotas-lista></app-mascotas-lista>
                </div>
            </div>
        </div>
    </div>
</div>