<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Servicios</h5>
                </div>
                <div class="card-body" style="height: calc(100vh - 200px); overflow-y: auto;">
                <app-registro-servicio></app-registro-servicio>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">lista de Servicios</h5>
                </div>
                <div class="card-body" style="height: calc(100vh - 200px); overflow-y: auto;">
                 <app-servicios-lista></app-servicios-lista>
                </div>
            </div>
        </div>
   
    </div>
</div>
