.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-content {
    display: flex;
    flex: 1;
}

.app-sidebar {
    flex: 0 0 auto; /* El sidebar no se hace flexible y no ocupa espacio adicional */
    width: 250px; /* Ancho inicial del sidebar */
    transition: width 0.3s; /* Transición suave cuando se cambia el ancho */
    background-color: #333; /* Color de fondo para el sidebar */
    color: white; /* Color del texto en el sidebar */
    padding: 20px; /* Ajusta el espacio interno según sea necesario */
}

.main-content {
    flex: 1; /* El contenido principal ocupa todo el espacio disponible restante */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
    background-color: #f0f0f0; /* Color de fondo para el contenido principal */
}

.small-sidebar .app-sidebar {
    width: 50px; /* Ancho reducido del sidebar cuando está en modo pequeño */
}

@media screen and (max-width: 767px) {
    .dashboard-content {
        flex-direction: column; /* Cambia a una disposición vertical en dispositivos móviles */
    }

    .app-navbar {
        display: none; /* Oculta el navbar en dispositivos móviles */
    }

    .menu-toggle {
        display: block; /* Muestra el botón de activar/desactivar el menú lateral en dispositivos móviles */
    }

    .app-sidebar {
        position: fixed; /* Fija el menú lateral en la pantalla */
        top: 0; /* Ajusta la posición vertical del menú lateral */
        left: -250px; /* Oculta el menú lateral inicialmente fuera de la pantalla */
        width: 250px; /* Ancho del menú lateral */
        height: 100%; /* Altura del menú lateral */
        background-color: #333; /* Color de fondo para el menú lateral */
        color: white; /* Color del texto en el menú lateral */
        transition: left 0.3s; /* Transición suave cuando se cambia la posición */
    }

    .main-content {
        margin-left: 0; /* Ajusta el margen izquierdo del contenido principal para acomodar el menú lateral */
    }

    .small-sidebar .app-sidebar {
        left: 0; /* Muestra el menú lateral cuando está en modo pequeño */
    }


}