.selected {
    background-color: #007bff !important; /* Color azul */
    color: #ffffff !important; /* Texto blanco */
  }

  tr.selected {
    background-color: #007bff !important; /* Color azul */
    color: #ffffff !important; /* Texto blanco */
   
  }

  table tr.selected {
    background-color: #007bff !important; /* Color azul */
    color: #ffffff !important; /* Texto blanco */
  }