<table>
    <thead>
        <tr>
            <th>
                <table class="table">
                    <thead>
                        <tr>
                            <th><i class="fas fa-user"></i> Cliente</th>
                            <th><i class="fas fa-dog"></i> Mascota</th>
                            <th><i class="fas fa-user-md"></i> Atendido por</th>
                            <th><i class="far fa-clock"></i> Hora de Recepción</th>

                            <th><i class="far fa-clock"></i> Hora de Termino</th>
                            <th><i class="fas fa-comment"></i> Mensaje</th>

                            <th><i class="fas fa-money-bill-alt"></i> Precio</th>
                            <th><i class="fas fa-check"></i> Pagado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of serviciosAtendidos">
                            <!-- Aquí se mostrarían las filas de los servicios atendidos -->
                            <tr (click)="seleccionarAtendido(item, $event)" [class.selected]="item.selected"
                                (mouseover)="item.hover = true" (mouseout)="item.hover = false">
                                <td>{{ item.cliente.nombre }}</td>
                                <td>{{ item.mascota.nombre }}</td>
                                <td>{{ item.atendidoPor }}</td>
                                <td>{{ item.horaRecepcion }}</td>

                                <td>{{ item.horaTerminoAtencion }}</td>
                                <td>{{ item.descripciones
                                    }}</td>

                                <td>{{ item.costoTotal }}</td>
                                <td class="text-center">
                                    <i *ngIf="item.pagado; else noPagado" class="fas fa-check text-success fa-2x"></i>
                                    <ng-template #noPagado><i class="fas fa-times text-danger fa-2x"></i></ng-template>
                                </td>
                                <td>

                                    <button (click)="enviaWhatsApp(item)" type="button">Avisar por WhatsApp</button>

                                </td>
                            </tr>
                        </ng-container>
                    </tbody>

                </table>